.product{
    display: flex;
    align-items: center;;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    width: 100%;
    padding: 20px;
  
}
.product__price{
    margin-top: 5px;
}
.product__info{
    height:100px;
    margin-bottom: 15px;
}

.product__rating{
    display: flex;
}
.product > img{
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.product__star{
    color: orange;
}
.product__button{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29 ;
}