.checkoutProduct{
    display: flex;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:5px;
}
.checkoutProduct__image{
    object-fit: contain;
    height: 180px;
    width: 180px;
}
.checkoutProduct__title{
    font-size:17px;
    font-weight: 800;;
}
.checkoutProduct__info{
    padding-left: 20px;
}
.checkoutProduct__rating{
    display: flex;
}
.checkoutProduct__star{
    color: orange;
}
.checkoutProduct__info > button{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29 ;
}
