.login{
    display: flex;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.login__logo{
    margin:20px 0;
    width: 100px;
    object-fit: contain;
}
.login__container{
    width:300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 3px;
}
.login__container > h1{
    font-weight:500;
    margin-bottom: 20px;
}
.login__container >form > h5{
    margin-bottom: 5px;
}
.login__container  > p{
    margin-top:10px;
}
.login__container >form > input{
    margin-bottom: 10px;
    width: 98%;
    background-color: white;
    height: 30px;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.07) inset;
    outline: 0;
}

.login__submitbutton{
    background: #f0c14b;
    border-radius: 2px;
    width:100%;
    height: 30px;
    border:1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111111;
}
.login__registerbutton{
    margin-top: 10px;
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
    height: 30px;
}